body {
    background-color: white;
}

#bg {
    background-image: url("../img/space.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;

}

.layer {
    width: 100vw;
    height: 750px;
}

.fondo-2 {
    height: 100%;
}
.img-100 {
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.img-80 {
    width: 80%;
    position: absolute;
    bottom: 10px;
}
.img-70 {
    width: 70%;
    position: absolute;
    bottom: 10px;
}
.img-60 {
    width: 60%;
    position: absolute;
    bottom: 10px;
}
.img-50 {
    width: 60%;
    position: absolute;
    bottom: 0px;
}
.img-mu {
    width: 150px;
    position: absolute;
    bottom: 0px;
    left: 30%;
}

#texto {
    position: absolute;
    top: 20%;
    right: 5%;
    line-height: normal;}
